In [24]:
# Importing pandas
import pandas as pd

In [25]:
# Reading datasets/coinmarketcap_06122017.csv into pandas
dec6 = pd.read_csv("datasets/coinmarketcap_06122017.csv")

# Selecting the 'id' and the 'market_cap_usd' columns
market_cap_raw = dec6.loc[:, ['id', 'market_cap_usd']]
market_cap_raw.head()

             id  market_cap_usd
0       bitcoin    2.130493e+11
1      ethereum    4.352945e+10
2  bitcoin-cash    2.529585e+10
3          iota    1.475225e+10
4        ripple    9.365343e+09

In [26]:
# Counting the number of values
market_cap_raw.count()

id                1326
market_cap_usd    1031
dtype: int64

-----------------------------------------------------------------------------------------
###  **_TO BE CONTINUED ... :P_**